// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &kp k1  &kp k2  &kp k3  &kp k4
#define HRMR(k1,k2,k3,k4) &kp k1  &kp k2  &kp k3  &ht RALT k4

#define DEFAULT 0
#define GAMING 1
#define LEFT_LYR 2
#define RIGHT_LYR 3
#define BOTH 4
#define GAMING_ALT 5

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <175>;
            quick-tap-ms = <40>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
        st: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <30>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        both_layer {
            if-layers = <LEFT_LYR RIGHT_LYR>;
            then-layer = <BOTH>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <40>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
            layers = <DEFAULT>;
        };
        combo_del {
            timeout-ms = <40>;
            key-positions = <6 7>;
            bindings = <&kp DEL>;
        };
        combo_bksp {
            timeout-ms = <40>;
            key-positions = <16 17>;
            bindings = <&kp BSPC>;
        };
        combo_lwin {
            timeout-ms = <30>;
            key-positions = <23 24>;
            bindings = <&kp LGUI>;
        };
        combo_rwin {
            timeout-ms = <320>;
            key-positions = <25 26>;
            bindings = <&kp RGUI>;
	};
    };
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
          &ht LCTRL Q    &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I   &kp O    &ht RCTRL P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ ' "      │
            HRML(A,        S,         D,         F)     &kp G          &kp H      HRMR(J,        K,         L,        SQT)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ . >      │ / ?      │
          &st LSHIFT Z  &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT  &st RSHIFT FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &lt 2 TAB   &kp SPACE     &kp SPACE  &lt 3 ENTER
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        gaming_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  F       │  Q       │  W       │  E       │  R       │   │          │          │          │          │          │
            &kp F       &kp Q      &kp W      &kp E    &kp R         &tog GAMING    &trans      &trans     &trans   &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Shift   │  A       │  S       │  D       │  G       │   │          │          │          │          │          │
            &kp LSHIFT    &kp A      &kp S     &kp D   &kp G          &trans     &trans     &trans     &trans     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  CTRL    │  Z        │  X       │  C       │  V      │   │    TAB   │   ESC    │          │          │
            &kp LCTRL  &kp Z      &kp X      &kp C      &mt B V        &kp TAB     &kp ESC   &trans     &trans      &kp RALT
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                              &mo 5   &kp SPACE     &trans      &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;  
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  !       │  @       │  #       │  $       │  %       │   │     ^    │   &      │    *     │   (      │    )     │
            &kp EXCL   &kp AT     &kp HASH   &kp DLLR    &kp PRCNT       &kp CARET   &kp AMPS  &kp ASTRK  &kp LPAR    &kp RPAR
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ 1        │  2       │   3      │   4      │     5    │   │  6       │  7       │     8    │    9     │    0      │
            &kp N1       &kp N2     &kp N3     &kp N4     &kp N5       &kp N6      &kp N7    &kp N8     &kp N9     &kp N0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ F1       │   F2     │    F3    │   F4     │   F5     │   │  F6      │   F7     │  F8      │   F9     │   F10    │
            &kp F1     &kp F2    &kp F3      &kp F4     &kp F5         &kp F6     &kp F7     &kp F8     &kp F9     &kp F10
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &kp ESC        &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│     ~    │  <       │  U Arrow │  >       │     +     │   │  ^      │  (       │   )      │  :       │  PG_UP   │
            &kp TILDE  &kp LT      &kp UP   &kp GT      &kp PLUS       &kp CARET  &kp LPAR   &kp RPAR  &kp COLON  &ht HOME PG_UP
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│     `    │  L Arrow │  D Arrow │  R Arrow │    -     │   │  *       │    [     │    ]     │    ;     │  PG_DN   │
            &kp GRAVE   &kp LEFT    &kp DOWN   &kp RIGHT &kp MINUS    &kp ASTRK  &kp LBKT   &kp RBKT   &kp SEMI   &ht END PG_DN
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│     `    │    =     │    {     │   }      │     _    │   │   =      │    {     │    }     │    \     │ PSCRN    │
            &kp GRAVE  &kp EQUAL   &kp LBRC  &kp RBRC   &kp UNDER     &kp EQUAL &kp LBRC  &kp RBRC     &kp BSLH   &kp PSCRN
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        both_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &tog GAMING   &trans     &trans     &trans   &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        gamingalt_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  4       │  1       │          │  2       │  3       │   │     ^    │   &      │    *     │   (      │    )     │
            &kp N4        &kp N1     &trans   &kp N2    &kp N3      &kp CARET   &kp AMPS  &kp ASTRK  &kp LPAR    &kp RPAR
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  5       │          │          │          │     T    │   │  6       │  7       │     8    │    9     │    0      │
            &kp N5       &trans     &trans     &trans     &kp T       &kp N6      &kp N7    &kp N8     &kp N9     &kp N0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ F1       │   F2     │    F3    │   F4     │   F5     │   │  F6      │   F7     │  F8      │   F9     │   F10    │
            &kp F1     &kp F2    &kp F3      &kp F4     &kp F5         &kp F6     &kp F7     &kp F8     &kp F9     &kp F10
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &kp TAB         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};